.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  cursor: pointer;
}


/* Firefox remove outline */
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

img {
  max-height: 45px;
  border: 2px solid #fff;
  display: inline;
}
